
    
    $green: #06d6a0;
    $blue: #0075F2;
    $purple: #631A86;
    $yellow: #FFD275;
    $red: #F71735;

    $action-color: $green;
    $success-color: $green;
    $error-color: $red;
    $hint-color: $purple;


