$green: #EAF7BF;
$blue: #2E86AB;
$purple: #734B5E;
$yellow: #ffd275;
$red: #f71735;
$orange: #EF8354;
$pink: rgb(251, 138, 157);
$gray: #9ba69e;

$action-color: var(--green);
$success-color: var(--green);
$error-color: var(--red);
$hint-color: var(--purple);

$main-bg-color: rgb(234, 247, 191);
$top-bg-color: rgb(253, 238, 215);
