
    
    $green: #06d6a0;
    $blue: #0075F2;
    $purple: #631A86;
    $yellow: #FFD275;
    $red: #F71735;

    $action-color: var(--green);
    $success-color: var(--green);
    $error-color: var(--red);
    $hint-color: var(--purple);


