@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Open+Sans&family=Source+Sans+Pro:wght@600&display=swap');

html {
    font-family: 'Noto Sans JP', sans-serif;
    color: #1a1a1a;
    height: 100%;
    overflow: hidden;
}

body {
    overflow-y: scroll;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: var(--blue);
}

html,
body {
    min-height: 100%;
}

#root {
    border: 2px solid black;
    background-image: radial-gradient($main-bg-color 90%, rgba(234, 247, 191, 0.5) 10%);
    margin-left: auto;
    margin-right: auto;
    // max-width: 800px;
    max-width: 750px;
    min-height: 100%;
    border: 16px solid #fff5;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
body {
    background-image: url(../bamboo_bg.jpg);
    background-position: center;
    background-size: cover;
}
#blue {
    background-color: $blue;
}
#red {
    background-color: $red;
}
#green {
    background-color: $darkgreen;
}
#purple {
    background-color: $purple;
}
#yellow {
    background-color: $yellow;
}
#orange {
    background-color: $orange;
}
#pink {
    background-color: $pink;
}
#rainbow {
    background-image: url(../LGBT_Rainbow_Flag.png);
    background-size: cover;
}
#lesbian-pride {
    background-image: url(../lesbian_pride_flag.png);
    background-size: cover;
}
#bisexual-pride {
    background-image: url(../bisexual_pride_flag.png);
    background-size: cover;
}
#pansexual-pride {
    background-image: url(../pansexual_pride_flag.png);
    background-size: cover;
}
#transgender-pride {
    background-image: url(../transgender_pride_flag.png);
    background-size: cover;
}
#asexual-pride {
    background-image: url(../asexual_pride_flag.png);
    background-size: cover;
}
#nonbinary-pride {
    background-image: url(../nonbinary_pride_flag.png);
    background-size: cover;
}
#genderfluid-pride {
    background-image: url(../genderfluid_pride_flag.png);
    background-size: cover;
}
#genderqueer-pride {
    background-image: url(../genderqueer_pride_flag.png);
    background-size: cover;
}
#agender-pride {
    background-image: url(../agender_pride_flag.png);
    background-size: cover;
}
#intersex-pride {
    background-image: url(../intersex_pride_flag.png);
    background-size: cover;
    background-position-x: 50%;
}

body {
    background: url(../bamboo_bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

input[type='submit'],
button {
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px 10px;
    background-color: $purple;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
}

button.secondary {
    background-color: $gray;
    color: white;
}

input[type='text'],
input[type='password'],
textarea,
input:read-only {
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    padding: 13px 10px;
}

.errors ul {
    padding: 0;
}
.errors li {
    color: $orange;
    list-style: none;
    line-height: 28px;
    border-radius: 5px;
    margin-top: 5px;
}
