.nav-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    .left-nav-bar {
        margin-top: 10px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        .panda {
            width: 90px;
            height: 90px;
            background-image: url(../LGBT_Rainbow_Flag.png);
            background-size: cover;
            border-radius: 50%;
            position: relative;
            img {
                width: 70px;
                height: 70px;
                position: absolute;
                left: 10px;
                top: 10px;
            }
        }
        h1 {
            font-family: 'Fredericka the Great';
            margin: 0;
            margin-left: 20px;
            font-size: 48px;
        }
    }

    .links {
        position: absolute;
        right: 0;
        a {
            margin: 0 10px;
        }
    }
}
