.dashboard {
    display: flex;
    flex-direction: column;
}
.post-list {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;

    li {
        list-style: none;
        border-top: 2px solid #849e30;
    }

    a {
        text-decoration: none;
        color: black;
        &:visited {
            color: black;
        }
        &:hover {
            .post-item-container {
                background-color: $top-bg-color;
            }
        }
    }
}
.post-details {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    .username-box {
        color: #777;
    }
}
.post-item-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffBB;

    .post-body {
        display: flex;
        align-items: center;
        .post-profile-pic {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: relative;
            img {
                position: absolute;
                left: 10px;
                top: 10px;
                width: 60px;
                height: 60px;
            }
        }
        .username-box {
            align-self: flex-start;
            font-size: 12px;
            p {
                margin: 0;
            }
        }
        p {
            margin: 0 10;
        }
    }
    .delete-button {
        &:hover {
            cursor: pointer;
        }
    }
}
