.profile-post-item {
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 15px;
    background-color: #ffffffbb;
    .post-body {
        display: flex;
        .post-profile-pic {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: relative;
            img {
                position: absolute;
                left: 10px;
                top: 10px;
                width: 60px;
                height: 60px;
            }
        }
        .post-details {
            width: 60%;
            font-size: 12px;
            p {
                margin-top: 0;
                margin-left: 5px;
            }
        }
    }
    .post-body-buttons {
        display: flex;
        justify-content: center;
        .delete-button {
            display: none;
            width: 30%;
            margin-left: calc(35% + 15px);
        }
    }
}

.profile-page .post-list li {
    border-top: none;
    border-radius: 6px;
    padding-bottom: 15px;
}