.profile-page {
    background-color: $main-bg-color;
    input, textarea {
        cursor: not-allowed;
    }
    button {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .left-half {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .profile-header {
        display: flex;
        align-items: center;
        justify-content: center;
        .profile-pic {
            width: 100px;
            height: 100px;
            // background-color: blue;
            border-radius: 50%;
            position: relative;
            img {
                position: absolute;
                top: 15px;
                left: 15px;
                width: 70px;
                height: 70px;
            }
        }
        h1 {
            margin: 0 20px;
        }
    }
    .profile-body {
        .location-box {
            h3 {
                margin-right: 10px;
            }
        }
        .bio-box {
        }
    }
}
