.profile-page {
    background-color: $main-bg-color;
    display: flex;
    flex-direction: column;
    input,
    textarea {
        cursor: not-allowed;
    }
    button {
        width: 50%;
        margin: 0 auto;
        align-self: center;
    }
    .main-profile-section {
        display: flex;
        justify-content: space-between;
        .profile-left {
            width: 48%;
            margin: 20px auto;
            background-color: #fff5;
            border: 1px inset $green;
            h3 {
                span {
                    color: $darkgreen;
                    font-weight: normal;
                }
            }
            .bio-box {
                margin-left: 15px;
            }
        }
        .profile-right {
            margin: 20px auto;
            width: 48%;
            background-color: #fff5;
            border: 1px inset $green;
            h3 {
                margin: 0;
            }
            .posts-box {
                margin-left: 15px;
            }
        }
    }

    .profile-header {
        display: flex;
        align-items: center;
        justify-content: center;
        .profile-pic {
            width: 100px;
            height: 100px;
            // background-color: blue;
            border-radius: 50%;
            position: relative;
            img {
                position: absolute;
                top: 15px;
                left: 15px;
                width: 70px;
                height: 70px;
            }
        }
        h1 {
            margin: 0 20px;
        }
    }
}
