.profile-page {
    .profile-header {
        border: 1px solid blue;
        display: flex;
        align-items: center;
        .profile-pic {
            width: 100px;
            height: 100px;
            // background-color: blue;
            border-radius: 50%;
            position: relative;
            img {
                position: absolute;
                top: 15px;
                left: 15px;
                width: 70px;
                height: 70px;
            }
        }
        h1 {
            margin: 0 20px;
        }
    }
}
