.signup-form-container {
  width: 400px;
  height: 300px;
  border-radius: 4px;
  border: 1px solid black;
  background: lightseagreen;
}
.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    height: 500px;
    
  }
  
  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
  }
  
.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}